.topbar {
  background: color-mix(in srgb, var(--app-header-primary) 75%, #000);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);

  .app-title {
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
    letter-spacing: .5px;
    color: #fff;
  }

  .spacer {
    flex: 1;
  }

  button {
    color: #fff;
  }
}

